%%-*- mode: erlang -*-
{erl_opts, [debug_info]}.
{cover_enabled, false}.

{erl_opts, [
    {parse_transform, lager_transform}
    ]}.

%% == Dependencies ==

%% Where to put any downloaded dependencies. Default is "deps"
{deps_dir, "deps"}.

{deps, [
 		{lager, "2.0.1", {git, "git://github.com/basho/lager", {tag, "2.0.1"}}}
	]
}.